DATABASE_URL=postgresql://neondb_owner:npg_YK2zl9HfMaAv@ep-twilight-tooth-ay4wjfcw-pooler.c-5.us-east-2.aws.neon.tech/SurgeShield?sslmode=require&channel_binding=require
PORT=4001
JWT_SECRET=de8ecd20596d76c21af74dcd66c009bb66c33ed36c521802206f0c7497f1c8570b4eabeca28d1e82b44cce0a658b8cdf
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:4001
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:4001/user/oauth/google/callback